apiVersion: v1
kind: ConfigMap
metadata:
  name: headscale-config
  namespace: ${headscale-namespace} # kpt-set: ${headscale-namespace}
data:
  config.yaml: |
    server_url: http://headscale.hs.net:8080
    listen_addr: 0.0.0.0:8080
    metrics_listen_addr: 0.0.0.0:9090
    grpc_listen_addr: 0.0.0.0:50443
    grpc_allow_insecure: true

    tls:
      letsencrypt_hostname: ""
      letsencrypt_cache_dir: ""
      letsencrypt_challenge_type: ""
      cert_path: ""
      key_path: ""

    private_key_path: /var/lib/headscale/private.key
    noise:
      private_key_path: /var/lib/headscale/noise_private.key

    prefixes:
      v4: 100.64.0.0/10
      v6: fd7a:115c:a1e0::/48

    derp:
      server:
        enabled: false
      urls: []
      paths:
        - /etc/headscale/derp.yaml
      auto_update_enabled: false
      update_frequency: 24h

    disable_check_updates: true
    ephemeral_node_inactivity_timeout: 30m
    database:
      type: sqlite
      sqlite:
        path: /var/lib/headscale/db.sqlite

    policy:
      mode: file
      path: /etc/headscale/acl.json

    dns:
      base_domain: hs.net
      nameservers:
        global:
          - 192.168.1.254
          - 1.1.1.1
          - 8.8.8.8
      extra_records_path: /var/lib/headscale/extra_records.json
      magic_dns: true

    log:
      format: text
      level: info
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: headscale-extra-records
  namespace: ${headscale-namespace} # kpt-set: ${headscale-namespace}
data:
  extra_records.json: |
    [
      {
        "name": "headscale.hs.net",
        "type": "A",
        "value": "${cluster-lan-headscale-inetaddr}"
      },
      {
        "name": "headplane.hs.net",
        "type": "A",
        "value": "${cluster-lan-headplane-inetaddr}"
      }
    ]
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: headscale-acl
  namespace: ${headscale-namespace} # kpt-set: ${headscale-namespace}
data:
  acl.json: |
    {
      "groups": {
        "group:admin": []
      },
      "tagOwners": {
        "tag:darwin": ["group:admin"],
        "tag:nixos": ["group:admin"],
        "tag:rke2": ["group:admin"]
      },
      "acls": [
        {
          "action": "accept",
          "src": ["*"],
          "dst": ["*:*"]
        }
      ],
      "ssh": [
        {
          "action": "accept",
          "src": ["group:admin", "tag:darwin", "tag:nixos"],
          "dst": ["*"],
          "users": ["autogroup:nonroot", "root"]
        }
      ]
    }
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: headscale-derp
  namespace: ${headscale-namespace} # kpt-set: ${headscale-namespace}
data:
  derp.yaml: |
    regions:
      900:
        regionid: 900
        regioncode: local
        regionname: Local LAN
        nodes: []
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: headscale-env
  namespace: ${headscale-namespace} # kpt-set: ${headscale-namespace}
data:
  HEADPLANE_NAMESPACE: ${headplane-namespace} # kpt-set: ${headplane-namespace}
  HEADSCALE_NAMESPACE: ${headscale-namespace} # kpt-set: ${headscale-namespace}
  HEADSCALE_URL: http://headscale.${headscale-namespace}.svc.cluster.local:8080 # kpt-set: http://headscale.${headscale-namespace}.svc.cluster.local:8080
  DARWIN_HOST: ${cluster-name} # kpt-set: ${cluster-name}
  RKE2_CLUSTER_NAME: ${cluster-name} # kpt-set: ${cluster-name}
  VIP_NETWORK_CIDR: ${cluster-vip-cidr} # kpt-set: ${cluster-vip-cidr}
  CLUSTER_LAN_HEADSCALE_INETADDR: ${cluster-lan-headscale-inetaddr} # kpt-set: ${cluster-lan-headscale-inetaddr}
