---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kpt.dev/package-layer: gitops
    kpt.dev/package-name: flux-operator
  labels:
    app.kubernetes.io/instance: flux-operator
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: flux-operator
    app.kubernetes.io/version: v0.36.0
    helm.sh/chart: flux-operator-0.36.0
  name: flux-operator
  namespace: flux-system
spec:
  selector:
    matchLabels:
      app.kubernetes.io/instance: flux-operator
      app.kubernetes.io/name: flux-operator
  template:
    metadata:
      annotations:
        kpt.dev/package-layer: gitops
        kpt.dev/package-name: flux-operator
        prometheus.io/path: /metrics
        prometheus.io/port: "8080"
        prometheus.io/scrape: "true"
      labels:
        app.kubernetes.io/instance: flux-operator
        app.kubernetes.io/managed-by: Helm
        app.kubernetes.io/name: flux-operator
        app.kubernetes.io/version: v0.36.0
        helm.sh/chart: flux-operator-0.36.0
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/os
                    operator: In
                    values:
                      - linux
      containers:
        - args:
            - --log-level=info
          env:
            - name: RUNTIME_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: REPORTING_INTERVAL
              value: 5m
          image: ghcr.io/controlplaneio-fluxcd/flux-operator:v0.36.0
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          name: manager
          ports:
            - containerPort: 8080
              name: http-metrics
              protocol: TCP
            - containerPort: 8081
              name: http
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 2000m
              memory: 1Gi
            requests:
              cpu: 100m
              memory: 64Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - mountPath: /tmp
              name: temp
      serviceAccountName: flux-operator
      volumes:
        - emptyDir: {}
          name: temp
