apiVersion: cilium.io/v2
kind: CiliumBGPClusterConfig
metadata:
  name: bgp-cluster-config
spec:
  nodeSelector:
    matchLabels:
      node-role.kubernetes.io/control-plane: ""
  bgpInstances:
  - name: "control-plane-bgp"
    localASN: ${bgp-local-asn} # kpt-set: ${bgp-local-asn}
    peers:
    - name: "gateway-peer"
      peerASN: ${bgp-peer-asn} # kpt-set: ${bgp-peer-asn}
      peerAddress: ${node-gateway-inetaddr} # kpt-set: ${node-gateway-inetaddr}
      peerConfigRef:
        name: "cilium-peer"
---
apiVersion: cilium.io/v2
kind: CiliumBGPAdvertisement
metadata:
  name: control-plane-advertisement
spec:
  advertisements:
  - advertisementType: "Service"
    service:
      addresses:
      - ExternalIP
      - LoadBalancerIP
    selector:
      matchLabels:
        io.cilium/lb-inetaddram: "load-balancers"
  - advertisementType: "PodCIDR"
