apiVersion: fn.kpt.dev/v1alpha1
kind: StarlarkRun
metadata: # kpt-merge: /generate-values
  name: generate-values
  annotations:
    config.kubernetes.io/local-config: "true"
    internal.kpt.dev/upstream-identifier: fn.kpt.dev|StarlarkRun|default|generate-values
source: |-
  # Find setters ConfigMap and HelmChart by name
  setters = None
  helmchart = None
  for r in ctx.resource_list["items"]:
    if r.get("kind") == "ConfigMap" and r["metadata"]["name"] == "setters":
      setters = r
    if r.get("kind") == "HelmChart" and r["metadata"]["name"] == "openebs-zfs":
      helmchart = r

  if not (helmchart and setters):
    ctx.result.error("missing setters or openebs-zfs resource")
  else:
    values = helmchart["spec"]["valuesContent"]
    values = values.replace("bin: zfs-bin", "bin: %s" % setters["data"]["zfs-bin"])
    values = values.replace("kubeletDir: kubelet-dir", "kubeletDir: %s" % setters["data"]["kubelet-dir"])
    helmchart["spec"]["valuesContent"] = values
