# incus instance config (@codebase)
name: ${CLUSTER_NODE_NAME}
architecture: aarch64
profiles: 
  - ${CLUSTER_PROFILE_NAME}
config:
  raw.lxc: |
    lxc.cap.drop =
    lxc.apparmor.profile = unconfined
    lxc.mount.auto = proc:rw sys:rw cgroup-full:rw
    lxc.cgroup.devices.allow = c *:* rwm
    lxc.cgroup.devices.allow = b *:* rwm
  security.privileged: true
  security.nesting: true
  environment.RKE2_DEBUG: true
devices:
  kmsg.dev:
    type: unix-char
    source: /dev/kmsg
    path: /dev/kmsg
  zfs.dev:
    type: unix-char
    source: /dev/zfs
    path: /dev/zfs
  secrets.dir:
    type: disk
    source: ${PWD}/.secrets.d
    path: /.secrets.d
    readonly: "true"
  shared.dir:
    type: disk
    source: ${PWD}/${RUN_INSTANCE_DIR}/shared
    path: /.shared.d
  logs.dir:
    type: disk
    source: ${PWD}/${RUN_INSTANCE_DIR}/logs
    path: /.logs.d
  kubeconfig.dir:
    type: disk
    source: ${PWD}/${RUN_INSTANCE_DIR}/kube
    path: /.kubeconfig.d
  user.metadata:
    type: disk
    source: ${PWD}/${NOCLOUD_METADATA_FILE}
    path: /var/lib/cloud/seed/nocloud/meta-data
  user.user-data:
    type: disk
    source: ${PWD}/${NOCLOUD_USERDATA_FILE}
    path: /var/lib/cloud/seed/nocloud/user-data
