---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  annotations:
    kpt.dev/package-layer: system
    kpt.dev/package-name: tekton-pipelines
  labels:
    app.kubernetes.io/component: webhook
    app.kubernetes.io/instance: default
    app.kubernetes.io/part-of: tekton-pipelines
    pipeline.tekton.dev/release: v1.6.0
  name: webhook.pipeline.tekton.dev
webhooks:
  - admissionReviewVersions:
      - v1
    clientConfig:
      service:
        name: tekton-pipelines-webhook
        namespace: tekton-pipelines
    failurePolicy: Fail
    name: webhook.pipeline.tekton.dev
    sideEffects: None
