---
apiVersion: v1
data:
  extra_records.json: |
    [
      {
        "name": "headscale.hs.net",
        "type": "A",
        "value": "${cluster-lan-headscale-inetaddr}"
      },
      {
        "name": "headplane.hs.net",
        "type": "A",
        "value": "${cluster-lan-headplane-inetaddr}"
      }
    ]
kind: ConfigMap
metadata:
  annotations:
    internal.kpt.dev/upstream-identifier: '|ConfigMap|${headscale-namespace}|headscale-extra-records'
    kpt.dev/package-layer: mesh
    kpt.dev/package-name: headscale
  name: headscale-extra-records
  namespace: headscale-system
