---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  annotations:
    internal.kpt.dev/upstream-identifier: helm.cattle.io|HelmChartConfig|kube-system|rke2-traefik
    kpt.dev/package-layer: networking
    kpt.dev/package-name: traefik
  name: rke2-traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--api.insecure=true"
    ports:
      web:
        expose:
          default: true
      websecure:
        expose:
          default: true
