apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata: # kpt-merge: kube-system/rke2-cilium
  name: rke2-cilium
  namespace: kube-system
  annotations:
    internal.kpt.dev/upstream-identifier: 'helm.cattle.io|HelmChartConfig|kube-system|rke2-cilium'
spec:
  valuesContent: |-
    installCRDs: true
    bpf:
      hostLegacyRouting: true
    bgpControlPlane:
      enabled: true
    cluster:
      name: ${cluster_name}
      id: ${cluster_id}
    clustermesh:
      enabled: true
      useAPIServer: true
      apiserver:
        enabled: true
        service:
          type: LoadBalancer
          # Using BGP announcements for cluster mesh
    envoy:
      enabled: true
    gatewayAPI:
      enabled: true
    ingressController:
      default: true
      enabled: true
      loadBalancerMode: dedicated
      service:
        annotations:
          io.cilium/lb-ipam-pool: lan
          io.cilium/lb-ipam-ips: ${cluster-lan-headplane-inetaddr}
    hubble:
      enabled: true
      relay:
        enabled: true
      ui:
        enabled: true
    ipv4:
      enabled: true
    ipv6:
      enabled: false
    kubeProxyReplacement: true
    l2announcements:
      enabled: true
      leaseDuration: 15s
      leaseRenewDeadline: 5s
      leaseRetryPeriod: 2s
    l2NeighDiscovery:
      enabled: true
      refresh: true
      refreshPeriod: 30s
    l7Proxy: true
    routingMode: tunnel
    tunnelProtocol: vxlan
    operator:
      replicas: 1
      podDisruptionBudget:
        enabled: true
    socketLB:
      enabled: true
