---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  annotations:
    internal.kpt.dev/upstream-identifier: helm.cattle.io|HelmChartConfig|kube-system|rke2-cilium
    kpt.dev/package-layer: networking
    kpt.dev/package-name: cilium-config
  name: rke2-cilium
  namespace: kube-system
spec:
  valuesContent: |-
    installCRDs: true
    bpf:
      hostLegacyRouting: true
    bgpControlPlane:
      enabled: true
    cluster:
      cluster-name: alcide
      id: 1
    clustermesh:
      useAPIServer: true
      apiserver:
        service:
          type: LoadBalancer
          # Using BGP announcements for cluster mesh
    envoy:
      enabled: true
    gatewayAPI:
      enabled: true
    ingressController:
      default: true
      enabled: true
      loadBalancerMode: dedicated
    hubble:
      enabled: true
      relay:
        enabled: true
      ui:
        enabled: true
    ipv4:
      enabled: true
    ipv6:
      enabled: false
    kubeProxyReplacement: true
    l2announcements:
      enabled: true
      leaseDuration: 15s
      leaseRenewDeadline: 5s
      leaseRetryPeriod: 2s
    l2NeighDiscovery:
      enabled: true
      refresh: true
      refreshPeriod: 30s
    l7Proxy: true
    routingMode: tunnel
    tunnelProtocol: vxlan
    operator:
      hostNetwork: true
      replicas: 1
    socketLB:
      hostNamespaceOnly: false
