---
apiVersion: v1
data:
  install.sh: |
    #!/usr/bin/env -S bash -exuo pipefail

    : "[i] Installing Envoy Gateway ${ENVOY_GATEWAY_VERSION}..."
    kubectl apply \
      --server-side \
      --force-conflicts \
      -f "https://github.com/envoyproxy/gateway/releases/download/${ENVOY_GATEWAY_VERSION}/install.yaml"

    : "[i] Waiting for Envoy Gateway deployment..."
    kubectl wait --timeout=300s \
      --namespace "${ENVOY_GATEWAY_NAMESPACE}" \
      --for=condition=available \
      deployment/envoy-gateway
kind: ConfigMap
metadata:
  annotations:
    internal.kpt.dev/upstream-identifier: '|ConfigMap|${envoy-gateway-namespace}|envoy-gateway-installer-script'
    kpt.dev/package-layer: networking
    kpt.dev/package-name: envoy-gateway
  name: envoy-gateway-installer-script
  namespace: envoy-gateway-system
