apiVersion: v1
kind: ConfigMap
metadata: # kpt-merge: ${envoy-gateway-namespace}/envoy-gateway-installer-script
  name: envoy-gateway-installer-script
  namespace: ${envoy-gateway-namespace} # kpt-set: ${envoy-gateway-namespace}
  annotations:
    internal.kpt.dev/upstream-identifier: '|ConfigMap|${envoy-gateway-namespace}|envoy-gateway-installer-script'
data:
  install.sh: |
    #!/usr/bin/env -S bash -exuo pipefail

    : "[i] Installing Envoy Gateway v1.4.2..." # kpt-set: Installing Envoy Gateway ${envoy-gateway-version}...
    kubectl apply \
      --server-side \
      --force-conflicts \
      -f https://github.com/envoyproxy/gateway/releases/download/v1.4.2/install.yaml # kpt-set: -f https://github.com/envoyproxy/gateway/releases/download/${envoy-gateway-version}/install.yaml

    : "[i] Waiting for Envoy Gateway deployment..."
    kubectl wait --timeout=300s \
      --namespace envoy-gateway-system \
      --for=condition=available \
      deployment/envoy-gateway
