---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    internal.kpt.dev/upstream-identifier: rbac.authorization.k8s.io|ClusterRole|default|tekton-config-read-role
    kpt.dev/package-layer: cicd
    kpt.dev/package-name: tekton-pipelines
  name: tekton-config-read-role
rules:
  - apiGroups:
      - operator.tekton.dev
    resources:
      - tektonconfigs
    verbs:
      - get
      - watch
      - list
