## Flox Environment Manifest -----------------------------------------
##
##   _Everything_ you need to know about the _manifest_ is here:
##
##               https://flox.dev/docs/concepts/manifest
##
## -------------------------------------------------------------------
# Flox manifest version managed by Flox CLI
version = 1


## Install Packages --------------------------------------------------
##  $ flox install gum  <- puts a package in [install] section below
##  $ flox search gum   <- search for a package
##  $ flox show gum     <- show all versions of a package
## -------------------------------------------------------------------
[install]
# lazygit.pkg-path = "lazygit"  # Disabled - using nix-darwin overlay version
gh.pkg-path = "gh"
gnupg.pkg-path = "gnupg"
lsof.pkg-path = "lsof"
gdu.pkg-path = "gdu"
ncdu.pkg-path = "ncdu"
tshark.pkg-path = "tshark"
direnv.pkg-path = "direnv"
file.pkg-path = "file"
kubernetes-helm.pkg-path = "kubernetes-helm"
envsubst.pkg-path = "envsubst"
kubectl.pkg-path = "kubectl"
helmfile.pkg-path = "helmfile"
openssl.pkg-path = "openssl"
ethtool.pkg-path = "ethtool"
ethtool.systems = ["aarch64-linux", "x86_64-linux"]
gnumake.pkg-path = "gnumake"
dnsmasq.pkg-path = "dnsmasq"
remake.pkg-path = "remake"
k9s.pkg-path = "k9s"
ipcalc.pkg-path = "ipcalc"
nmap.pkg-path = "nmap"
bpftool.pkg-path = "bpftool"
bpftool.systems = ["aarch64-linux", "x86_64-linux"]
conntrack_tools.pkg-path = "conntrack_tools"
conntrack_tools.systems = ["aarch64-linux", "x86_64-linux"]
iptstate.pkg-path = "iptstate"
iptstate.systems = ["aarch64-linux", "x86_64-linux"]
dig.pkg-path = "dig"
unzip.pkg-path = "unzip"
cilium-cli.pkg-path = "cilium-cli"
conntrack-tools.pkg-path = "conntrack-tools"
conntrack-tools.systems = ["aarch64-linux", "x86_64-linux"]
kpt.pkg-path = "kpt"
debootstrap.pkg-path = "debootstrap"
debootstrap.systems = ["aarch64-linux", "x86_64-linux"]
netplan.pkg-path = "netplan"
netplan.systems = ["aarch64-linux", "x86_64-linux"]
# gum.pkg-path = "gum"
# gum.version = "^0.14.5"


## Environment Variables ---------------------------------------------
##  ... available for use in the activated environment
##      as well as [hook], [profile] scripts and [services] below.
## -------------------------------------------------------------------
[vars]
# INTRO_MESSAGE = "It's gettin' Flox in here"


## Activation Hook ---------------------------------------------------
##  ... run by _bash_ shell when you run 'flox activate'.
## -------------------------------------------------------------------
[hook]
# on-activate = '''
#   # -> Set variables, create files and directories
#   # -> Perform initialization steps, e.g. create a python venv
#   # -> Useful environment variables:
#   #      - FLOX_ENV_PROJECT=/home/user/example
#   #      - FLOX_ENV=/home/user/example/.flox/run
#   #      - FLOX_ENV_CACHE=/home/user/example/.flox/cache
# '''


## Profile script ----------------------------------------------------
## ... sourced by _your shell_ when you run 'flox activate'.
## -------------------------------------------------------------------
[profile]
common = '''
  set -a

  PATH=/run/wrappers/bin:$PATH

  CLUSTER_NAME=${LIMA_HOSTNAME:-=bioskop}
  case $CLUSTER_NAME in
    bioskop) CLUSTER_SUBNET=1 ;;
    alcide) CLUSTER_SUBNET=2 ;;
    *) CLUSTER_SUBNET=254;;
  esac
  CLUSTER_SUBNET=${CLUSTER_SUBNET:-1}
  
  # Find secrets - try current directory first, then FLOX_ENV_DIRS
  # This works whether this env is used standalone or included
  SECRETS_DIR=""
  if [ -d ".secrets.d" ]; then
    SECRETS_DIR=".secrets.d"
  elif [ -n "$FLOX_ENV_DIRS" ]; then
    # Search through all environment directories in the composition
    for dir in $FLOX_ENV_DIRS; do
      if [ -d "$dir/.secrets.d" ]; then
        SECRETS_DIR="$dir/.secrets.d"
        break
      fi
    done
  fi
  
  # Load secrets only if directory and files exist
  if [ -n "$SECRETS_DIR" ]; then
    [ -f "$SECRETS_DIR/tskey-client-id" ] && TSKEY_CLIENT_ID=$(cat "$SECRETS_DIR/tskey-client-id") || TSKEY_CLIENT_ID=""
    [ -f "$SECRETS_DIR/tskey-client-token" ] && TSKEY_CLIENT_TOKEN=$(cat "$SECRETS_DIR/tskey-client-token") || TSKEY_CLIENT_TOKEN=""
    [ -f "$SECRETS_DIR/tskey-api-id" ] && TSKEY_API_ID=$(cat "$SECRETS_DIR/tskey-api-id") || TSKEY_API_ID=""
    [ -f "$SECRETS_DIR/tskey-api-token" ] && TSKEY_API_TOKEN=$(cat "$SECRETS_DIR/tskey-api-token") || TSKEY_API_TOKEN=""
   else
    TSKEY_CLIENT_ID=""
    TSKEY_CLIENT_TOKEN=""
    TSKEY_API_ID=""
    TSKEY_API_TOKEN=""
  fi
  
  set +a
'''
# common = '''
#   gum style \
#   --foreground 212 --border-foreground 212 --border double \
#   --align center --width 50 --margin "1 2" --padding "2 4" \
#     $INTRO_MESSAGE
# '''
## Shell-specific customizations such as setting aliases go here:
# bash = ...
# zsh  = ...
# fish = ...


## Services ---------------------------------------------------------
##  $ flox services start             <- Starts all services
##  $ flox services status            <- Status of running services
##  $ flox activate --start-services  <- Activates & starts all
## ------------------------------------------------------------------
[services]
# myservice.command = "python3 -m http.server"


## Include ----------------------------------------------------------
## ... environments to create a composed environment
## ------------------------------------------------------------------
# [include]
# environments = [
#     { dir = "/Users/nxmatic/.lima" }
# ]
# environments = [
#     { dir = "../common" }
# ]


## Build and publish your own packages ------------------------------
##  $ flox build
##  $ flox publish
## ------------------------------------------------------------------
[build]
# [build.myproject]
# description = "The coolest project ever"
# version = "0.0.1"
# command = """
#   mkdir -p $out/bin
#   cargo build --release
#   cp target/release/myproject $out/bin/myproject
# """


## Other Environment Options -----------------------------------------
[options]
# Systems that environment is compatible with
# systems = [
#   "aarch64-darwin",
#   "aarch64-linux",
#   "x86_64-darwin",
#   "x86_64-linux",
# ]
# Uncomment to disable CUDA detection.
# cuda-detection = false
