## Flox Environment Manifest -----------------------------------------
##
##   _Everything_ you need to know about the _manifest_ is here:
##
##               https://flox.dev/docs/concepts/manifest
##
## -------------------------------------------------------------------
# Flox manifest version managed by Flox CLI
version = 1


[include]
  [[include.environments]]
    dir = '../fleet/flox/git'

  [[include.environments]]
    dir = '../fleet/flox/gnumake'

  [[include.environments]]
    dir = '../fleet/flox/net-tools'

  [[include.environments]]
    dir = '../fleet/flox/k8s'


## Install Packages --------------------------------------------------
##  $ flox install gum  <- puts a package in [install] section below
##  $ flox search gum   <- search for a package
##  $ flox show gum     <- show all versions of a package
## -------------------------------------------------------------------
[install]
# lazygit.pkg-path = "lazygit"  # Disabled - using nix-darwin overlay version
lsof.pkg-path = "lsof"
gdu.pkg-path = "gdu"
ncdu.pkg-path = "ncdu"
direnv.pkg-path = "direnv"
file.pkg-path = "file"
envsubst.pkg-path = "envsubst"
unzip.pkg-path = "unzip"
# gum.pkg-path = "gum"
# gum.version = "^0.14.5"


## Environment Variables ---------------------------------------------
##  ... available for use in the activated environment
##      as well as [hook], [profile] scripts and [services] below.
## -------------------------------------------------------------------
[vars]
# INTRO_MESSAGE = "It's gettin' Flox in here"


## Activation Hook ---------------------------------------------------
##  ... run by _bash_ shell when you run 'flox activate'.
## -------------------------------------------------------------------
[hook]
# on-activate = '''
#   # -> Set variables, create files and directories
#   # -> Perform initialization steps, e.g. create a python venv
#   # -> Useful environment variables:
#   #      - FLOX_ENV_PROJECT=/home/user/example
#   #      - FLOX_ENV=/home/user/example/.flox/run
#   #      - FLOX_ENV_CACHE=/home/user/example/.flox/cache
# '''


## Profile script ----------------------------------------------------
## ... sourced by _your shell_ when you run 'flox activate'.
## -------------------------------------------------------------------
[profile]
common = '''
  set -a

  CLUSTER_NAME=${LIMA_HOSTNAME:-=bioskop}
  case $CLUSTER_NAME in
    bioskop) CLUSTER_SUBNET=1 ;;
    alcide) CLUSTER_SUBNET=2 ;;
    *) CLUSTER_SUBNET=254;;
  esac
  CLUSTER_SUBNET=${CLUSTER_SUBNET:-1}
  
  # Find secrets - try current directory first, then FLOX_ENV_DIRS
  # This works whether this env is used standalone or included
  SECRETS_DIR=""
  if [ -d ".secrets.d" ]; then
    SECRETS_DIR=".secrets.d"
  elif [ -n "$FLOX_ENV_DIRS" ]; then
    # Search through all environment directories in the composition
    for dir in $FLOX_ENV_DIRS; do
      if [ -d "$dir/.secrets.d" ]; then
        SECRETS_DIR="$dir/.secrets.d"
        break
      fi
    done
  fi
  
  SECRETS_FILE=""
  if [ -n "$SECRETS_DIR" ]; then
    for candidate in .secrets secrets.yaml secrets.yml; do
      if [ -f "$SECRETS_DIR/$candidate" ]; then
        SECRETS_FILE="$SECRETS_DIR/$candidate"
        break
      fi
    done
  fi

  secret_from_yaml() {
    local expr="$1" fallback="$2" value=""
    if [ -n "$SECRETS_FILE" ] && command -v yq >/dev/null 2>&1; then
      value=$(yq -r "${expr} // \"\"" "$SECRETS_FILE" 2>/dev/null || true)
    fi
    if [ -z "$value" ] && [ -n "$fallback" ] && [ -f "$fallback" ]; then
      value=$(cat "$fallback")
    fi
    printf '%s' "${value:-}"
  }

  TSKEY_CLIENT_ID=${TSKEY_CLIENT_ID:-$(secret_from_yaml '.tailscale.client.id' "${SECRETS_DIR:+$SECRETS_DIR/tskey-client-id}")}
  TSKEY_CLIENT_TOKEN=${TSKEY_CLIENT_TOKEN:-$(secret_from_yaml '.tailscale.client.token' "${SECRETS_DIR:+$SECRETS_DIR/tskey-client-token}")}
  TSKEY_API_ID=${TSKEY_API_ID:-$(secret_from_yaml '.tailscale.api.id' "${SECRETS_DIR:+$SECRETS_DIR/tskey-api-id}")}
  TSKEY_API_TOKEN=${TSKEY_API_TOKEN:-$(secret_from_yaml '.tailscale.api.token' "${SECRETS_DIR:+$SECRETS_DIR/tskey-api-token}")}
  CLUSTER_GITHUB_USERNAME=${CLUSTER_GITHUB_USERNAME:-$(secret_from_yaml '.github.username' '')}
  CLUSTER_GITHUB_TOKEN=${CLUSTER_GITHUB_TOKEN:-$(secret_from_yaml '.github.token' "${SECRETS_DIR:+$SECRETS_DIR/cluster-github-token}")}
  CLUSTER_DOCKER_CONFIG_JSON=${CLUSTER_DOCKER_CONFIG_JSON:-$(secret_from_yaml '.docker.configJson' "${SECRETS_DIR:+$SECRETS_DIR/docker-config-json}")}

  : "Expose GitHub PAT / Docker registry defaults for tooling"
  : "Prefer pre-set environment variables (e.g., CI) over YAML values"
  CLUSTER_GITHUB_USERNAME=${CLUSTER_GITHUB_USERNAME:-x-access-token}
  CLUSTER_GITHUB_TOKEN=${CLUSTER_GITHUB_TOKEN:-}
  CLUSTER_DOCKER_CONFIG_JSON=${CLUSTER_DOCKER_CONFIG_JSON:-}
  GITHUB_PAT=${CLUSTER_GITHUB_TOKEN}
  DOCKER_CONFIG_JSON=${DOCKER_CONFIG_JSON:-$CLUSTER_DOCKER_CONFIG_JSON}

  
  set +a
'''
# common = '''
#   gum style \
#   --foreground 212 --border-foreground 212 --border double \
#   --align center --width 50 --margin "1 2" --padding "2 4" \
#     $INTRO_MESSAGE
# '''
## Shell-specific customizations such as setting aliases go here:
# bash = ...
# zsh  = ...
# fish = ...


## Services ---------------------------------------------------------
##  $ flox services start             <- Starts all services
##  $ flox services status            <- Status of running services
##  $ flox activate --start-services  <- Activates & starts all
## ------------------------------------------------------------------
[services]
# myservice.command = "python3 -m http.server"


## Build and publish your own packages ------------------------------
##  $ flox build
##  $ flox publish
## ------------------------------------------------------------------
[build]
# [build.myproject]
# description = "The coolest project ever"
# version = "0.0.1"
# command = """
#   mkdir -p $out/bin
#   cargo build --release
#   cp target/release/myproject $out/bin/myproject
# """


## Other Environment Options -----------------------------------------
[options]
# Systems that environment is compatible with
# systems = [
#   "aarch64-darwin",
#   "aarch64-linux",
#   "x86_64-darwin",
#   "x86_64-linux",
# ]
# Uncomment to disable CUDA detection.
# cuda-detection = false
