---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    internal.kpt.dev/upstream-identifier: '|Secret|${headplane-namespace}|headplane-config'
    kpt.dev/package-layer: mesh
    kpt.dev/package-name: headplane
  name: headplane-config
  namespace: ${headplane-namespace}
stringData:
  config.yaml: |
    server:
      host: "0.0.0.0"
      port: 3000
      base_url: "${headplane-base-url}" # kpt-set: ${headplane-base-url}
      cookie_secret_path: "/etc/headplane/secrets/cookie_secret"
      cookie_secure: ${headplane-cookie-secure} # kpt-set: ${headplane-cookie-secure}
      data_path: "/var/lib/headplane"

    headscale:
      url: "${headscale-service-url}" # kpt-set: ${headscale-service-url}
      config_path: "/etc/headscale/config.yaml"
      dns_records_path: "/var/lib/headscale/extra_records.json"
      config_strict: true

    integration:
      agent:
        enabled: true
        pre_authkey_path: "/etc/headplane/agent/preauthkey"
      kubernetes:
        enabled: true
        validate_manifest: true
        pod_name: "headscale"
type: Opaque
