apiVersion: v1
kind: ConfigMap
metadata:
  name: headplane-agent-sync-script
  namespace: ${headscale-namespace} # kpt-set: ${headscale-namespace}
data:
  agent-sync.sh: |
    #!/usr/bin/env -S bash -exuo pipefail
    AUTHKEY=$(kubectl get secret headscale-client-auth -n "${HEADSCALE_NAMESPACE}" -o jsonpath='{.data.authkey}' | base64 -d)
    kubectl create secret generic headplane-agent-auth \
      -n "${HEADPLANE_NAMESPACE}" \
      --from-literal=preauthkey="${AUTHKEY}" \
      --dry-run=client -o yaml | kubectl apply -f -

    yq eval '.server.base_url = strenv(HEADPLANE_BASE_URL) |
      .server.cookie_secure = (env(HEADPLANE_COOKIE_SECURE) | downcase == "true") |
      .headscale.url = strenv(HEADSCALE_SERVICE_URL)' \
      /etc/headplane-template/config.yaml > /tmp/config.$$.yaml
    kubectl create secret generic headplane-config \
      -n "${HEADPLANE_NAMESPACE}" \
      --from-file=config.yaml=/tmp/config.$$.yaml \
      --dry-run=client -o yaml | kubectl apply -f -